:root {
  /* Colors */
  --black: rgb(0, 0, 0);
  --red: rgb(179, 19, 18);
  --white: rgb(255, 255, 255);
  /* Font Sizes */
  --fontSize001: clamp(.75em, 1.7vw, 1.7vw);
  --fontSize002: clamp(.8em, 1vw, 1vw);
  --fontSize003: clamp(1em, 1vw, 1vw);
  --fontSize004: clamp(1.25em, 1.25vw, 1.25vw);
  --fontSize005: clamp(2.2em, 5vw, 5vw);
  --fontSize006: clamp(1.7em, 4.5vw, 4.5vw);
  --fontSize007: clamp(1em, 2.5vw, 2.6vw);
  --fontSize008: clamp(1em, 2vw, 2.1vw);
  --fontSize009: clamp(.75em, 1.5vw, 1.5vw);
  /* Paddings */
  --defPadding: 90px;
  /* Transitions */
  --trEaseInOut: all .2s ease-in-out;
  /* Z-Indexes */
  --navbar: 999999;
  --ones: 1;
  --zeros: 0;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: var(--red);
  border-radius: 0.15em;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  cursor: default;
  font-family: Montserrat;
  font-weight: Medium;
  transition: var(--trEaseInOut);
}

html, body {
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
html a, body a {
  color: var(--black);
  cursor: pointer;
  text-decoration: none;
}
html a.button, body a.button {
  align-items: center;
  background: var(--red);
  border-radius: 50em;
  box-shadow: 0 0.5em 1em 0 rgba(0, 0, 0, 0.2), 0 0.4em 1.2em 0 rgba(0, 0, 0, 0.19);
  color: var(--white);
  display: flex;
  flex-direction: row;
  font-size: var(--fontSize001);
  font-weight: bold;
  height: auto;
  justify-content: space-between;
  padding: 1em 2em;
  width: -moz-fit-content;
  width: fit-content;
}
html a.button:hover, body a.button:hover {
  box-shadow: none;
  transform: scale(0.9);
}
html a.button.whatsapp, body a.button.whatsapp {
  gap: 1em;
}
html a.button.whatsapp svg, body a.button.whatsapp svg {
  fill: var(--white);
  height: 2em;
}
html a.button svg, body a.button svg {
  fill: var(--white);
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 6px;
  pointer-events: none;
  width: 1.2em;
}
html header, body header {
  align-items: center;
  background: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  display: flex;
  font-size: var(--fontSize002);
  font-weight: 600;
  height: 5em;
  justify-content: center;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: var(--navbar);
}
html header a.logo, body header a.logo {
  display: none;
  height: 150%;
  position: absolute;
}
html header a.logo img, body header a.logo img {
  height: 100%;
}
html header .container, body header .container {
  align-items: center;
  display: flex;
  gap: 4.5em;
  height: 100%;
  justify-content: center;
  position: relative;
  text-align: center;
  width: 100%;
}
html header .container a:hover, html header .container a.active, body header .container a:hover, body header .container a.active {
  color: var(--red);
  text-decoration: underline;
  text-decoration-thickness: 0.2em;
  text-underline-offset: 0.3em;
}
html header .menu-icon, body header .menu-icon {
  cursor: pointer;
  display: none;
  margin-right: var(--defPadding);
  position: absolute;
  right: 0;
  width: 2em;
}
html header .menu-icon:hover svg, body header .menu-icon:hover svg {
  fill: var(--red);
}
html header .menu-icon svg, body header .menu-icon svg {
  height: -moz-fit-content;
  height: fit-content;
  pointer-events: none;
  width: 100%;
}
html img, body img {
  pointer-events: none;
}
html footer, body footer {
  background: var(--red);
  bottom: 1;
  color: var(--white);
  display: flex;
  margin-top: 90px;
  padding: 30px var(--defPadding) 90px var(--defPadding);
  position: absolute;
  width: 100%;
}
html footer .contents, body footer .contents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
html footer .contents a.button, body footer .contents a.button {
  background: none;
  border: 0.12em solid transparent;
  border-radius: 0.5em;
  box-shadow: none;
  fill: var(--white);
  font-size: var(--fontSize003);
  gap: 1em;
  justify-content: start;
  padding: 0.7em;
  width: 100%;
}
html footer .contents a.button:hover, body footer .contents a.button:hover {
  border: 0.12em solid var(--white);
}
html footer .contents a.button svg, body footer .contents a.button svg {
  height: 1.5em;
}
html footer .contents div, body footer .contents div {
  width: 80%;
}
html footer .contents div:not(:nth-child(1)), body footer .contents div:not(:nth-child(1)) {
  text-align: center;
}
html footer .contents p.title, body footer .contents p.title {
  font-size: var(--fontSize004);
  font-weight: bold;
}
html footer .contents .menu a.button, body footer .contents .menu a.button {
  justify-content: center;
}
html footer .contents .online-order a.button, body footer .contents .online-order a.button {
  border: none;
  justify-content: center;
}
html footer .contents .online-order a.button img, body footer .contents .online-order a.button img {
  cursor: pointer;
  width: clamp(16em, 1vw, 1vw);
}
html .hidden, body .hidden {
  display: none !important;
}
html .card, body .card {
  align-items: center;
  aspect-ratio: 1/1.1;
  background: var(--red);
  border-radius: 1.5em;
  box-shadow: 0 0.6em 1em 0 rgba(0, 0, 0, 0.2), 0 0.6em 1.3em 0 rgba(0, 0, 0, 0.19);
  color: var(--white);
  display: flex;
  flex: 0 1 30%;
  flex-direction: column;
  padding: 1em;
  position: relative;
  text-align: center;
}
html .card .image-container, body .card .image-container {
  align-items: end;
  bottom: 1;
  display: flex;
  height: 70%;
  justify-content: center;
}
html .card .image-container img, body .card .image-container img {
  margin-bottom: clamp(0.5em, 2vw, 2vw);
  position: absolute;
  width: clamp(10em, 17vw, 17vw);
}
html .card .text, body .card .text {
  display: flex;
  flex-direction: column;
  font-size: var(--fontSize008);
  font-weight: bold;
  padding: 30px;
  width: 100%;
}
html .card .text .description, html .card .text .price .variants span .var1, html .card .text .price .variants span .var2, body .card .text .description, body .card .text .price .variants span .var1, body .card .text .price .variants span .var2 {
  font-size: 0.5em;
  font-weight: 100;
}
html .card .text .line, body .card .text .line {
  background: var(--white);
  height: 2px;
  margin: 20px 0;
  width: 100%;
}
html .card .text .price, body .card .text .price {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
html .card .text .price .variants, body .card .text .price .variants {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
html .page-contents, body .page-contents {
  background: var(--white);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
}
html .page-contents .home, body .page-contents .home {
  display: flex;
  flex-direction: row;
  height: -moz-fit-content;
  height: fit-content;
  justify-content: space-between;
  margin-bottom: clamp(110px, 20vw, 20vw);
  padding: 8em 0 0 var(--defPadding);
  width: 100%;
}
html .page-contents .home .left, body .page-contents .home .left {
  display: flex;
  flex-direction: column;
  z-index: var(--ones);
}
html .page-contents .home .left .title, body .page-contents .home .left .title {
  display: flex;
  flex-direction: column;
  font-size: var(--fontSize005);
  font-weight: bold;
  margin-bottom: 50px;
  text-shadow: 1px 0 2.5px var(--black);
}
html .page-contents .home .left .title span:nth-child(2), body .page-contents .home .left .title span:nth-child(2) {
  font-size: 0.33em;
  margin-top: 20px;
  text-shadow: none;
}
html .page-contents .home .right, body .page-contents .home .right {
  display: flex;
  flex-direction: column;
  position: relative;
  right: 1;
  z-index: var(--zeros);
}
html .page-contents .home .right img, body .page-contents .home .right img {
  height: clamp(250px, 49vw, 49vw);
  position: absolute;
  right: 0;
}
html .page-contents .home .right img:nth-child(2), body .page-contents .home .right img:nth-child(2) {
  transform: translate(-5vw, -2em) scale(1.4);
}
html .page-contents .about, body .page-contents .about {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: clamp(10px, 15vw, 15vw);
  padding-right: var(--defPadding);
  width: 100%;
}
html .page-contents .about .left img, body .page-contents .about .left img {
  transform: translateX(-1em);
  width: clamp(250px, 37vw, 37vw);
}
html .page-contents .about .right img, body .page-contents .about .right img {
  display: none;
  justify-self: center;
  margin-bottom: 20px;
  width: clamp(250px, 50vw, 50vw);
}
html .page-contents .about .right .title, body .page-contents .about .right .title {
  font-size: var(--fontSize006);
  font-weight: bold;
  margin-bottom: 50px;
}
html .page-contents .about .right .description, body .page-contents .about .right .description {
  font-size: var(--fontSize007);
  font-weight: 400;
}
html .page-contents .best-menu, body .page-contents .best-menu {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}
html .page-contents .best-menu .title, body .page-contents .best-menu .title {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: clamp(100px, 16vw, 16vw);
  position: relative;
  width: 100%;
}
html .page-contents .best-menu .title .text, body .page-contents .best-menu .title .text {
  background: var(--white);
  font-size: var(--fontSize006);
  font-weight: bold;
  padding: 0 0.6em;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 1;
}
html .page-contents .best-menu .title .line, body .page-contents .best-menu .title .line {
  background: var(--black);
  display: block;
  height: 0.4em;
  position: absolute;
  top: 1;
  width: 100%;
  z-index: 0;
}
html .page-contents .best-menu .contents, body .page-contents .best-menu .contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 var(--defPadding) 0 var(--defPadding);
  width: 100%;
}
html .page-contents .best-menu .contents a.button, body .page-contents .best-menu .contents a.button {
  background: none;
  border: 0.12em solid transparent;
  border-radius: 0.4em;
  box-shadow: none;
  color: var(--black);
  font-size: var(--fontSize007);
  margin-top: 90px;
}
html .page-contents .best-menu .contents a.button:hover, body .page-contents .best-menu .contents a.button:hover {
  border: 0.12em solid var(--black);
}
html .page-contents .best-menu .contents a.button svg, body .page-contents .best-menu .contents a.button svg {
  fill: var(--black);
}
html .page-contents .best-menu .contents .contents-cards, body .page-contents .best-menu .contents .contents-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
html .page-contents .page-menu, body .page-contents .page-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8em var(--defPadding) 0 var(--defPadding);
  width: 100%;
}
html .page-contents .page-menu a.button.button-unselected, html .page-contents .page-menu a.button.button-selected, body .page-contents .page-menu a.button.button-unselected, body .page-contents .page-menu a.button.button-selected {
  border: 0.15em solid var(--red);
  border-radius: 0.4em;
  background: var(--white);
  box-shadow: none;
  color: var(--black);
  font-size: var(--fontSize001);
  padding: 0.5em 2em;
  position: relative;
}
html .page-contents .page-menu a.button.button-selected, body .page-contents .page-menu a.button.button-selected {
  border: 0.15em solid transparent;
  background: var(--red);
  color: var(--white);
}
html .page-contents .page-menu a.button.button-selected svg, body .page-contents .page-menu a.button.button-selected svg {
  fill: var(--white);
}
html .page-contents .page-menu .title, body .page-contents .page-menu .title {
  font-size: var(--fontSize005);
  font-weight: bold;
  margin-bottom: 1em;
  text-align: center;
  text-shadow: 1px 0 2.5px var(--black);
  width: 100%;
}
html .page-contents .page-menu .selections, body .page-contents .page-menu .selections {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: start;
  margin-bottom: 1em;
  width: 100%;
}
html .page-contents .page-menu .selections svg, body .page-contents .page-menu .selections svg {
  fill: var(--black);
  width: 1em;
}
html .page-contents .page-menu .selections svg.active, body .page-contents .page-menu .selections svg.active {
  transform: rotate(180deg);
}
html .page-contents .page-menu .container, body .page-contents .page-menu .container {
  overflow-x: auto;
  width: 100%;
}
html .page-contents .page-menu .container::-webkit-scrollbar, body .page-contents .page-menu .container::-webkit-scrollbar {
  height: 7px;
}
html .page-contents .page-menu .container .sub-selections, body .page-contents .page-menu .container .sub-selections {
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: start;
  margin-bottom: 0.6em;
  width: -moz-max-content;
  width: max-content;
}
html .page-contents .page-menu .container .sub-selections a, body .page-contents .page-menu .container .sub-selections a {
  font-size: var(--fontSize009) !important;
  padding: 0.4em 0.7em !important;
}
html .page-contents .page-menu .contents-card, body .page-contents .page-menu .contents-card {
  display: flex;
  margin-top: 200px;
  width: 100%;
}
html .page-contents .page-menu .contents-card .card, body .page-contents .page-menu .contents-card .card {
  margin-bottom: 200px;
}
html .page-contents .page-menu .contents-card .class-foods, html .page-contents .page-menu .contents-card .class-drinks, body .page-contents .page-menu .contents-card .class-foods, body .page-contents .page-menu .contents-card .class-drinks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  margin: 0;
  width: 100%;
}

/* Animations */
@keyframes menuSlideIn {
  from {
    transform: translate(100%, 80%);
  }
  to {
    transform: translate(0, 80%);
  }
}
@keyframes menuSlideOut {
  from {
    transform: translate(0, 80%);
  }
  to {
    transform: translate(100%, 80%);
    visibility: hidden;
  }
}/*# sourceMappingURL=style.css.map */