:root
{
	/* Colors */
	--black: rgb(0, 0, 0);
	--red: rgb(179, 19, 18);
	--white: rgb(255, 255, 255);

	/* Paddings */
	--defPadding: 90px;

	/* Transitions */
	--trEaseInOut: all .2s ease-in-out;

	/* Z-Indexes */
	--navbar: 999999;
}

*
{
	box-sizing: border-box;
	font-family: Montserrat;
	font-weight: Medium;
}

html, body
{
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

a
{
	color: var(--black);
	cursor: pointer;
	text-decoration: none;
}

a.button
{
	align-items: center;
	background: var(--red);
	border-radius: 85px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
	color: var(--white);
	display: flex;
	flex-direction: row;
	font-size: 1.7em;
	font-weight: bold;
	height: auto;
	justify-content: space-between;
	padding: 20px 50px;
	transition: var(--trEaseInOut);
	width: fit-content;
}

a.button:hover
{
	box-shadow: none;
	transform: scale(.9);
}

a.button.whatsapp
{
	gap: 20px;
}

a.button.whatsapp svg
{
	fill: var(--white);
	height: 2em;
}

header
{
	align-items: center;
	background: rgba(255, 255, 255, .5);
	backdrop-filter: blur(50px);
	display: flex;
	font-size: 1em;
	font-weight: 600;
	gap: 70px;
	height: 80px;
	justify-content: center;
	position: fixed;
	text-align: center;
	width: 100%;
	z-index: var(--navbar);
}

header a
{
	transition: var(--trEaseInOut);
}

header a:hover, header a.active
{
	color: var(--red);
	text-decoration: underline;
	text-decoration-thickness: .2em;
	text-underline-offset: .3em;
}

footer
{
	background: var(--red);
	bottom: 1;
	color: var(--white);
	display: flex;
	height: 50dvh;
	margin-top: 90px;
	padding: 30px var(--defPadding);
	position: absolute;
	width: 100%;
}

footer .contents
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

footer .contents div
{
	width: 80%;
}

footer .contents div:not(:nth-child(1))
{
	text-align: center;
}

footer .contents p.title
{
	font-size: 20px;
	font-weight: bold;
}

footer .contents a.button
{
	background: none;
	border: 2px solid transparent;
	border-radius: 10px;
	box-shadow: none;
	fill: var(--white);
	font-size: 1em;
	gap: 20px;
	justify-content: start;
	padding: 10px;
	width: 100%;
}

footer .contents a.button:hover
{
	border: 2px solid var(--white);
}

footer .contents a.button svg
{
	height: 1.5em;
}

footer .contents .menu a.button
{
	justify-content: center;
}

footer .contents .online-order a.button
{
	border: none;
	justify-content: center;
}

.hidden
{
	display: none !important;
}

.card
{
	align-items: center;
	aspect-ratio: 1/1;
	background: var(--red);
	border-radius: 20px;
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
	color: var(--white);
	display: flex;
	flex: 0 1 30%;
	flex-direction: column;
	margin-bottom: 70px;
	padding: 10px;
	position: relative;
	text-align: center;
	width: 400px;
}

.card .image-container
{
	align-items: end;
	display: flex;
	height: 70%;
	justify-content: center;
	width: 335px;
}

.card .image-container img
{
	bottom: 1;
	margin-bottom: 20px;
	position: absolute;
}

.card .text
{
	display: flex;
	flex-direction: column;
	font-size: 2em;
	font-weight: bold;
	padding: 30px;
	width: 100%;
}

.card .text .description, .card .text .price .variants span .var1, .card .text .price .variants span .var2
{
	font-size: .5em;
	font-weight: 100;
}

.card .text .line
{
	background: var(--white);
	height: 2px;
	margin: 20px 0;
	width: 100%;
}

.card .text .price
{
	align-items: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.card .text .price .variants
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.page-contents
{
	background: var(--white);
	display: flex;
	flex-direction: column;
	width: 100%;
}

.page-contents .home
{
	display: flex;
	flex-direction: row;
	height: 100vh;
	justify-content: space-between;
	margin-bottom: 150px;
	padding: 150px 0 0 var(--defPadding);
	width: 100dvw;
}

.page-contents .home .left
{
	display: flex;
	flex-direction: column;
}

.page-contents .home .left .title
{
	display: flex;
	flex-direction: column;
	font-size: 5em;
	font-weight: bold;
	margin-bottom: 50px;
	text-shadow: 1px 0 3px var(--black);
}

.page-contents .home .left .title span:nth-child(2)
{
	font-size: .33em;
	margin-top: 20px;
	text-shadow: none;
}

.page-contents .home .left a
{
	transition: var(--trEaseInOut);
}

.page-contents .home .right
{
	display: flex;
	flex-direction: column;
	right: 1;
}

.page-contents .home .right img
{
	height: 750px;
	position: absolute;
	transform: translateX(-32em);
}

.page-contents .home .right img:nth-child(2)
{
	height: 990px;
	position: absolute;
	transform: translate(-40em, -7em);
}

.page-contents .about
{
	align-items: center;
	display: flex;
	flex-direction: row;
	margin-bottom: 100px;
	padding-right: var(--defPadding);
	width: 100%;
}

.page-contents .about .left img
{
	left: 1;
	transform: translateX(-1em);
}

.page-contents .about .right .title
{
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 50px;
	text-shadow: 1px 0 3px var(--black);
}

.page-contents .about .right .description
{
	font-size: 1.6em;
	font-weight: 600;
}

.page-contents .best-menu
{
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 100%;
}

.page-contents .best-menu .title
{
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 250px;
	position: relative;
	width: 100%;
}

.page-contents .best-menu .title .text
{
	background: var(--white);
	font-size: 4em;
	font-weight: bold;
	padding: 0 30px;
	position: relative;
	text-shadow: 1px 0 3px var(--black);
	width: fit-content;
	z-index: 1;
}

.page-contents .best-menu .title .line
{
	background: var(--black);
	display: block;
	height: 8px;
	position: absolute;
	top: 50%;
	width: 100%;
	z-index: 0;
}

.page-contents .best-menu .contents
{
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 0 var(--defPadding) 20px var(--defPadding);
	width: 100%;
}

.page-contents .best-menu .contents a.button
{
	background: none;
	border: 2px solid transparent;
	border-radius: 10px;
	box-shadow: none;
	color: var(--black);
}

.page-contents .best-menu .contents a.button:hover
{
	border: 2px solid var(--black);
}

.page-contents .best-menu .contents .contents-cards
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	width: 100%;
}

.page-contents .page-menu
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 150px;
	padding: 150px var(--defPadding) 0 var(--defPadding);
	width: 100dvw;
}

.page-contents .page-menu .title
{
	font-size: 4em;
	font-weight: bold;
	margin-bottom: 50px;
	text-align: center;
	width: 100%;
}

.page-contents .page-menu .selections
{
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: start;
	margin-bottom: 20px;
	width: 100%;
}

.page-contents .page-menu .sub-selections
{
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: start;
	margin-bottom: 20px;
	width: 100%;
}

.page-contents .page-menu .selections a.button.button-unselected, .page-contents .page-menu .sub-selections a.button.button-unselected, .page-contents .page-menu .selections a.button.button-selected, .page-contents .page-menu .sub-selections a.button.button-selected
{
	border: 2px solid var(--red);
	border-radius: 5px;
	background: var(--white);
	box-shadow: none;
	color: var(--black);
	font-size: 1.2em;
	padding: 10px 30px;
	position: relative;
}

.page-contents .page-menu .selections a.button.button-selected, .page-contents .page-menu .sub-selections a.button.button-selected
{
	border: 2px solid transparent;
	background: var(--red);
	color: var(--white);
}

.page-contents .page-menu .selections a.button.button-selected:hover, .page-contents .page-menu .sub-selections a.button.button-selected:hover
{
	border: 2px solid var(--white);
}

.page-contents .page-menu .sub-selections a.button.button-unselected, .page-contents .page-menu .sub-selections a.button.button-selected
{
	font-size: 1em;
	padding: 10px 17px;
}

.page-contents .page-menu .selections span
{
	display: flex;
	font-size: 2.5em;
	position: absolute;
	right: 0;
	top: 0;
}

.page-contents .page-menu .selections span:nth-child(2)
{
	bottom: 0;
	display: flex;
	font-size: 2.5em;
	position: absolute;
	right: 0;
	top: auto;
	transform: translateY(-20%);
}

.page-contents .page-menu .contents-card
{
	display: flex;
	margin-top: 200px;
	width: 100%;
}

.page-contents .page-menu .contents-card .card
{
	margin-bottom: 200px;
}

.page-contents .page-menu .contents-card .class-foods, .page-contents .page-menu .contents-card .class-drinks
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 100%;
	justify-content: space-around;
	margin: 0;
	width: 100%;
}