:root
{
	/* Colors */
	--black: rgb(0, 0, 0);
	--red: rgb(179, 19, 18);
	--white: rgb(255, 255, 255);

	/* Font Sizes */
	--fontSize001: clamp(.75em, 1.7vw, 1.7vw);
	--fontSize002: clamp(.8em, 1vw, 1vw);
	--fontSize003: clamp(1em, 1vw, 1vw);
	--fontSize004: clamp(1.25em, 1.25vw, 1.25vw);
	--fontSize005: clamp(2.2em, 5vw, 5vw);
	--fontSize006: clamp(1.7em, 4.5vw, 4.5vw);
	--fontSize007: clamp(1em, 2.5vw, 2.6vw);
	--fontSize008: clamp(1em, 2vw, 2.1vw);

	/* Paddings */
	--defPadding: 90px;

	/* Transitions */
	--trEaseInOut: all .2s ease-in-out;

	/* Z-Indexes */
	--navbar: 999999;
	--ones: 1;
	--zeros: 0;
}

*
{
	box-sizing: border-box;
	cursor: default;
	font-family: Montserrat;
	font-weight: Medium;
	transition: var(--trEaseInOut);
}

html, body
{
	margin: 0;
	overflow-x: hidden;
	scroll-behavior: smooth;
	user-select: none;

	a
	{
		color: var(--black);
		cursor: pointer;
		text-decoration: none;

		&.button
		{
			align-items: center;
			background: var(--red);
			border-radius: 50em;
			box-shadow: 0 .5em 1em 0 rgba(0, 0, 0, .2), 0 .4em 1.2em 0 rgba(0, 0, 0, .19);
			color: var(--white);
			display: flex;
			flex-direction: row;
			font-size: var(--fontSize001);
			font-weight: bold;
			height: auto;
			justify-content: space-between;
			padding: 1em 2em;
			width: fit-content;

			&:hover
			{
				box-shadow: none;
				transform: scale(.9);
			}

			&.whatsapp
			{
				gap: 1em;

				svg
				{
					fill: var(--white);
					height: 2em;
				}
			}

			svg
			{
				fill: var(--white);
				height: fit-content;
				margin-left: 6px;
				pointer-events: none;
				width: 1.2em;
			}
		}
	}

	header
	{
		align-items: center;
		background: rgba(255, 255, 255, .5);
		backdrop-filter: blur(50px);
		display: flex;
		font-size: var(--fontSize002);
		font-weight: 600;
		height: clamp(3em, 5em, 5em);
		justify-content: center;
		position: fixed;
		text-align: center;
		width: 100%;
		z-index: var(--navbar);

		a.logo
		{
			display: none;
			height: 150%;
			position: absolute;

			img
			{
				height: 100%;
			}
		}

		.container
		{
			align-items: center;
			display: flex;
			gap: 4.5em;
			height: 100%;
			justify-content: center;
			position: relative;
			text-align: center;
			width: 100%;

			a:hover, a.active
			{
				color: var(--red);
				text-decoration: underline;
				text-decoration-thickness: .2em;
				text-underline-offset: .3em;
			}
		}

		.menu-icon
		{
			cursor: pointer;
			display: none;
			margin-right: var(--defPadding);
			position: absolute;
			right: 0;
			width: 2em;

			&:hover
			{
				svg
				{
					fill: var(--red);
				}
			}

			svg
			{
				height: fit-content;
				pointer-events: none;
				width: 100%;
			}
		}
	}

	img
	{
		pointer-events: none;
	}

	footer
	{
		background: var(--red);
		bottom: 1;
		color: var(--white);
		display: flex;
		margin-top: 90px;
		padding: 30px var(--defPadding) 90px var(--defPadding);
		position: absolute;
		width: 100%;

		.contents
		{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;

			a.button
			{
				background: none;
				border: .12em solid transparent;
				border-radius: .5em;
				box-shadow: none;
				fill: var(--white);
				font-size: var(--fontSize003);
				gap: 1em;
				justify-content: start;
				padding: .7em;
				width: 100%;

				&:hover
				{
					border: .12em solid var(--white);
				}

				svg
				{
					height: 1.5em;
				}
			}

			div
			{
				width: 80%;

				&:not(:nth-child(1))
				{
					text-align: center;
				}
			}

			p.title
			{
				font-size: var(--fontSize004);
				font-weight: bold;
			}

			.menu a.button
			{
				justify-content: center;
			}

			.online-order a.button
			{
				border: none;
				justify-content: center;

				img
				{
					cursor: pointer;
					width: clamp(16em, 1vw, 1vw);
				}
			}
		}
	}

	.hidden
	{
		display: none !important;
	}

	.card
	{
		align-items: center;
		aspect-ratio: 1/1.1;
		background: var(--red);
		border-radius: 1.5em;
		box-shadow: 0 .6em 1em 0 rgba(0, 0, 0, .2), 0 .6em 1.3em 0 rgba(0, 0, 0, .19);
		color: var(--white);
		display: flex;
		flex: 0 1 30%;
		flex-direction: column;
		padding: 1em;
		position: relative;
		text-align: center;

		.image-container
		{
			align-items: end;
			bottom: 1;
			display: flex;
			height: 70%;
			justify-content: center;

			img
			{
				margin-bottom: clamp(.5em, 2vw, 2vw);
				position: absolute;
				width: clamp(10em, 17vw, 17vw);
			}
		}

		.text
		{
			display: flex;
			flex-direction: column;
			font-size: var(--fontSize008);
			font-weight: bold;
			padding: 30px;
			width: 100%;

			.description, .price .variants span .var1, .price .variants span .var2
			{
				font-size: .5em;
				font-weight: 100;
			}

			.line
			{
				background: var(--white);
				height: 2px;
				margin: 20px 0;
				width: 100%;
			}

			.price
			{
				align-items: center;
				display: flex;
				flex-direction: row;
				justify-content: center;
				width: 100%;

				.variants
				{
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					width: 100%;
				}
			}
		}
	}

	.page-contents
	{
		background: var(--white);
		display: flex;
		flex-direction: column;
		overflow: hidden;
		width: 100%;

		.home
		{
			display: flex;
			flex-direction: row;
			height: fit-content;
			justify-content: space-between;
			margin-bottom: clamp(110px, 20vw, 20vw);
			padding: clamp(1em, 8em, 8em) 0 0 var(--defPadding);
			width: 100%;

			.left
			{
				display: flex;
				flex-direction: column;
				z-index: var(--ones);

				.title
				{
					display: flex;
					flex-direction: column;
					font-size: var(--fontSize005);
					font-weight: bold;
					margin-bottom: 50px;
					text-shadow: 1px 0 2.5px var(--black);

					span:nth-child(2)
					{
						font-size: .33em;
						margin-top: 20px;
						text-shadow: none;
					}
				}
			}

			.right
			{
				display: flex;
				flex-direction: column;
				position: relative;
				right: 1;
				z-index: var(--zeros);

				img
				{
					height: clamp(250px, 49vw, 49vw);
					position: absolute;
					right: 0;

					&:nth-child(2)
					{
						transform: translate(-5vw, -2em) scale(1.4);
					}
				}
			}
		}

		.about
		{
			align-items: center;
			display: flex;
			flex-direction: row;
			margin-bottom: clamp(10px, 15vw, 15vw);
			padding-right: var(--defPadding);
			width: 100%;

			.left img
			{
				transform: translateX(-1em);
				width: clamp(250px, 37vw, 37vw);
			}

			.right
			{
				img
				{
					display: none;
					justify-self: center;
					margin-bottom: 20px;
					width: clamp(250px, 50vw, 50vw);
				}
				
				.title
				{
					font-size: var(--fontSize006);
					font-weight: bold;
					margin-bottom: 50px;
				}

				.description
				{
					font-size: var(--fontSize007);
					font-weight: 400;
				}
			}
		}

		.best-menu
		{
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
			width: 100%;

			.title
			{
				align-items: center;
				display: flex;
				justify-content: center;
				margin-bottom: clamp(100px, 16vw, 16vw);
				position: relative;
				width: 100%;

				.text
				{
					background: var(--white);
					font-size: var(--fontSize006);
					font-weight: bold;
					padding: 0 .6em;
					position: relative;
					width: fit-content;
					z-index: 1;
				}

				.line
				{
					background: var(--black);
					display: block;
					height: .4em;
					position: absolute;
					top: 1;
					width: 100%;
					z-index: 0;
				}
			}

			.contents
			{
				align-items: center;
				display: flex;
				flex-direction: column;
				padding: 0 var(--defPadding) 0 var(--defPadding);
				width: 100%;

				a.button
				{
					background: none;
					border: .12em solid transparent;
					border-radius: .4em;
					box-shadow: none;
					color: var(--black);
					font-size: var(--fontSize007);
					margin-top: 90px;

					&:hover
					{
						border: .12em solid var(--black);
					}

					svg
					{
						fill: var(--black);
					}
				}

				.contents-cards
				{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					justify-content: space-around;
					width: 100%;
				}
			}
		}

		.page-menu
		{
			display: flex;
			flex-direction: column;
			justify-content: center;
			margin-bottom: 150px;
			padding: 150px var(--defPadding) 0 var(--defPadding);
			width: 100dvw;

			a
			{
				&.button.button-unselected, &.button.button-selected
				{
					border: 2px solid var(--red);
					border-radius: 5px;
					background: var(--white);
					box-shadow: none;
					color: var(--black);
					font-size: 1.2em;
					padding: 10px 30px;
					position: relative;
				}

				&.button.button-selected
				{
					border: 2px solid transparent;
					background: var(--red);
					color: var(--white);

					&:hover
					{
						border: 2px solid var(--white);
					}
				}
			}

			.title
			{
				font-size: 4em;
				font-weight: bold;
				margin-bottom: 50px;
				text-align: center;
				width: 100%;
			}

			.selections
			{
				display: flex;
				flex-direction: row;
				gap: 20px;
				justify-content: start;
				margin-bottom: 20px;
				width: 100%;

				p
				{
					display: flex;
					height: fit-content;
					pointer-events: none;
					position: absolute;
					right: 0;
					top: 1;
					transform: translateY(25%);
					width: fit-content;

					span
					{
						display: flex;
						font-size: 2.5em;
						right: 0;

						&:nth-child(2)
						{
							bottom: 0;
							font-size: 2.5em;
							position: absolute;
							transform: translateY(10%);
						}
					}
				}
			}

			.sub-selections
			{
				display: flex;
				flex-direction: row;
				gap: 20px;
				justify-content: start;
				margin-bottom: 20px;
				overflow-x: auto;
				width: 100%;

				a
				{
					font-size: 1em !important;
					padding: 10px 17px !important;
				}
			}

			.contents-card
			{
				display: flex;
				margin-top: 200px;
				width: 100%;

				.card
				{
					margin-bottom: 200px;
				}

				.class-foods, .class-drinks
				{
					display: flex;
					flex-direction: row;
					flex-wrap: wrap;
					height: 100%;
					justify-content: space-around;
					margin: 0;
					width: 100%;
				}
			}
		}
	}
}

/* Animations */
@keyframes menuSlideIn
{
	from
	{
		transform: translate(100%, 80%);
	}

	to
	{
		transform: translate(0, 80%);
	}
}

@keyframes menuSlideOut
{
	from
	{
		transform: translate(0, 80%);
	}

	to
	{
		transform: translate(100%, 80%);
		visibility: hidden;
	}
}